@import "tailwindcss";

@tailwind utilities;
@plugin "daisyui" {
    themes: light --default;
}

#app {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.splitpanes__pane {
  box-shadow: 0 0 3px rgba(0, 0, 0, .2) inset;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

em.specs {
  font-size: 0.2em;
  line-height: 1;
  position: absolute;
  color: #bbb;
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
}
